* {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, p{
    color: rgb(41, 40, 44);
    text-align: center;
    box-sizing: border-box;
}

#blue_btn {
    background-color: #006c84;
}

#red_btn {
    background-color: #ffccbb;
}

.bluetext {
    color: #006c84;
}

.redtext {
    color: #ffccbb;
}

#chooser {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.chooser {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 700px;
}

.chooser > div {
    width: 150px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    background-color:#6eb5c0;
    justify-content: center;
    align-items: center;
    color: #e2e8e4;
}

.choosed_element {
    border-color:#ffccbb;
    border: 3px;
    border-color: #006c84;
    border-style: solid;
}

#MyGame {
    color: rgb(41, 40, 44);
    text-align: center;
    justify-content: center;
   
}

button {
    width: 150px;
 	border-style: none;
	border-width: 1px;
	border-radius: 25px;
	padding:       4px 20px;
	display:       inline-block;    
	text-align:    center;
	text-shadow:   none;
	margin: 5px;
	text-transform: lowercase;
	text-decoration: none;
    
}

.blog-container {
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

.blog-container p{
    text-align: left;
    background-color: #e2e8e4;
    padding: 10px;
}

.blog button {
    border: 1px;
    background-color: #ffccbb;
    
}

.blog-container h3{
    color:#006c84;
}

header {
    background-color:#6eb5c0;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    height: inherit;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

nav > a {
    color: #006c84;
    text-decoration: none;
    
}
nav > a:hover {
    color: #ffccbb;
 
}

main {
    margin-top: 100px;
}